
body {
  background: $gray;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: 500px;
}

a {
  text-decoration: none !important;
}
a:active{
  background: black;
}

//for testing only
.my-background-color{
  background: black;
}

#sidebar {
  width: 250px;
}

#sidebar-avatar {
  padding-left: 25px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
}

.brand-logo {
  margin-left: 270px;
}

header, .my-container {
  /*padding-left: 250px;*/
  padding-left: 275px;
  padding-right: 15px;
}

//.my-container-full

@media only screen and (max-width: 992px) {
  header, .my-container, footer, #logo-container, .brand-logo {
    padding-left: 15px;
    margin-left: 0;
  }
}

.message-div {
  height: 500px;
  overflow-y: scroll;
  padding-right: 20px;
}

.hidden {
  visibility: hidden;
}

.inline-button {
  display: inline-block;
}

.inline-button-div {
  text-align: center;
}


.visible {
  display: block;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
